body {
            font-family: Arial, sans-serif;
        }
        .sidebar {
            height: 100vh;
            background-color: #f8f9fa;
            padding-top: 20px;
        }
        .sidebar a {
            display: block;
            padding: 10px 15px;
            color: #333;
            text-decoration: none;
            font-weight: 500;
        }
        .sidebar a:hover {
            background-color: #ddd;
        }
        .header {
            background-color: #343a40;
            color: white;
            padding: 20px 20px;
        }
        .header .right {
            float: right;
        }
        .col-md-4 {
            flex : 0 0 auto;
            width :232px;
        }
        .col-md-3 {
            flex : 0 0 auto;
            width : 232px;
        }