body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #fdf8f0, #f3e3b3);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    text-align: center;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    color: #4a1226;
}

.card {
    background-color: #6d1b3a;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(74, 18, 38, 0.3);
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    color: white;
    box-sizing: border-box;
    border: 1px solid #cda434;
}

@media (max-width: 400px) {
    .card {
        padding: 30px 20px;
    }
}

.profile-img {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 5px;
    background-color: #4a1226;
    color: #f3e3b3;
}

.password-field {
    position: relative;
}

.password-field input {
    width: 86%;
    padding-right: 40px;
}

.toggle-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #cda434;
}

button {
    background-color: #cda434;
    color: #4a1226;
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #f3e3b3;
}

.signin-text {
    margin-top: 20px;
    font-size: 14px;
}

.signin-text a {
    color: #cda434;
    text-decoration: none;
}
